<div class="text-info p-1 w-100">
  <div class="border border-info text-info p-1 bg-dark container-fluid" style="border-radius: 10px">
    <div class="row text-center mt-3">
        
            <div class="col">
              <a href="https://www.facebook.com" target="_blank"><i class="fa fa-3x fa-facebook"></i></a>
            </div>
            <div class="col">
              <a href="https://twitter.com" target="_blank"><i class="fa fa-3x fa-twitter"></i></a>
            </div>
            <div class="col">
              <a href="https://www.instagram.com" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
            </div>
          
    </div>
    <div class="row mt-3 mb-3">

    </div>
    <div class="row">
      <div class="col">
        <p class="text-center"> <strong>BACK YARD CINEMA</strong>
          <br>45 Nam Kỳ Khởi Nghĩa, Dist 1,
          <br> <abbr title="Phone">Telephone:</abbr> 0906539923 </p>
      </div>
      <div class="col text-center"><img src="../../assets/sgtlogo.png" class="img-fluid"></div>
      <div class="col">
        <p class="text-center">QUAN PHONG GROUP</p>
        <P class="text-center">All rights reserved</P>
      </div>
    </div>
  </div>
</div>
