<hibernate-configuration>
 
<session-factory>
 
<!-- Database Connection Settings -->
 
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 
<property name="connection.url">jdbc:mysql://localhost:3306/cinema</property>
 
<property name="connection.username">cineadmin</property>
 
<property name="connection.password">cineadmin</property>
 
 
 
 <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property> 
 
 <property name="current_session_context_class">thread</property>
<!-- Connection Pool Size (built-in) -->
 
<property name="connection.pool.size">1</property>
 
<!-- SQL Dialect -->
 
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
 
 
<!-- Disable the second-level cache -->
 
<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
 
<!-- Echo all executed SQL to stdout -->
 
<property name="hibernate.show_sql">true</property>
 
<!-- Drop the existing tables and create new one -->
 
<property name="hbm2ddl.auto">update</property>
 
<!-- Mention here all the model classes along with their package name -->
 
<mapping class="org.quanphong.cinema.model.Customer"/>
<mapping class="org.quanphong.cinema.model.Employee"/>
<mapping class="org.quanphong.cinema.model.Order"/>
<mapping class="org.quanphong.cinema.model.Snack"/>
<mapping class="org.quanphong.cinema.model.OrderDetailSnack"/>
<mapping class="org.quanphong.cinema.model.Room"/>
<mapping class="org.quanphong.cinema.model.Seat"/>
<mapping class="org.quanphong.cinema.model.Movie"/>
<mapping class="org.quanphong.cinema.model.MovieShow"/>
<mapping class="org.quanphong.cinema.model.Ticket"/>
<mapping class="org.quanphong.cinema.model.New"/>

 
</session-factory>
 
</hibernate-configuration>