<div class="py-5 bg-light text-dark">
  <div class="container bg-light p-2">
    <div class="row">


      <div class="col">
        <h1>ABOUT BACKYARD CINEMA</h1>

      </div>






    </div>
    <div class="row">
      <div class="col">
        <img src="https://media.timeout.com/images/103143454/630/472/image.jpg" width="1100px"/>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <p>Founded in 1975 by Nguyen Ngoc Minh Quan and Dang Quoc Thanh Phong, sponsored by The Government</p>
      </div>
    </div>
  </div>
  <hr> </div>