<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Employees Manager</title>

</head>

<body>
  <div class=" container-scroller">
    <!--Navbar-->
    <nav class="navbar bg-danger col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
      <div class="bg-danger text-center navbar-brand-wrapper">
        <a class="navbar-brand brand-logo" href="#">
          <img src="assets/images/logo.png" />
        </a>
        <a class="navbar-brand brand-logo-mini" href="#">
          <img src="assets/images/logo.png" alt="">
        </a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
        <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
          <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
          <li class="nav-item">
            <a class="nav-link" href="#">
              <div class="row p-2">
                <div style="background-color:rgb(253, 253, 253); color: midnightblue;border-radius: 15px" class="pull-left">
                  <h4 style="margin:4px">
                    <i class="fa fa-user-circle-o"></i> {{empName}}</h4>
                </div>
                <div class="p-2">
                  <i class="fa fa-sign-out" ng-click="signOut()"></i>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right hidden-lg-up align-self-center" type="button" data-toggle="offcanvas">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!--End navbar-->
    <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">
        <nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas bg-danger" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="/employee">
                <!-- <i class="fa fa-dashboard"></i> -->
                <img src="assets/images/employees.png" alt="">
                <span class="menu-title text-white">Employees</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/customer">
                <img src="assets/images/customers.png" alt="">
                <span class="menu-title text-white">Customers</span>
              </a>
            </li>
            <li class="nav-item">
              <hr/>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">
                <!-- <i class="fa fa-wpforms"></i> -->
                <img src="assets/images/orders.png" alt="">
                <span class="menu-title text-white">Orders</span>
              </a>
            </li>
            <li class="nav-item">
              <hr/>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/movie">
                <!-- <i class="fa fa-calculator"></i> -->
                <img src="assets/images/movies.png" alt="">
                <span class="menu-title text-white">Movies</span>
              </a>
            </li>


            <li class="nav-item">
              <hr/>
            </li>
            <li class="nav-item   bg-warning">
              <a class="nav-link" href="/movieshow">
                <!-- <i class="fa fa-bar-chart"></i> -->
                <img src="assets/images/movieshows.png" alt="">
                <span class="menu-title text-white">Movie Shows</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="/new">
                <!-- <i class="fa fa-font"></i> -->
                <img src="assets/images/tickets.png" alt="">
                <span class="menu-title text-white">News</span>
              </a>
            </li>
            <li class="nav-item">
              <hr/>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/snack">
                <!-- <i class="fa fa-table"></i> -->
                <img src="assets/images/snacks.png" alt="">
                <span class="menu-title text-white">Snacks</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- SIDEBAR ENDS -->

        <div class="content-wrapper">
          <div class="card">
            <div class="card-block">
              <h5 class="card-title mb-4 text-danger">MOVIE SHOWS</h5>
              <div class="card-header container bg-white">
                <div class=" row" role="group">
                  <button type="button" class="btn btn-danger col" data-toggle="modal" data-target="#movieShowaddingModal"(click)="openaddMovieShow()">
                    <i class="fa fa-plus"></i> ADD A MOVIE SHOW</button>
                </div>
              </div>
              <table class="table">
                <thead>
                  <tr class="">
                    <th>No.</th>
                    <th>Movie Name</th>
                    <th>Date Show</th>
                    <th>Begin Time</th>
                    <th>Room Name</th>
                    <th>Cost</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>

                  <tr *ngFor="let ms of movieshows; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{ms.movies.name}}</td>
                    <td>{{ms.dateShow}}</td>
                    <td>{{ms.beginTime}}</td>
                    <td>{{ms.rooms.name}}</td>
                    <td>{{ms.cost}}</td>

                    <td class="text-center">
                      <a href="#" data-toggle="modal" data-target="#movieShowDetailModal" (click)="openEditmovieShow(ms.id)">
                        <i class="fa fa-2x text-primary fa-eye p-2"></i>
                      </a>

                      <a href="#" data-toggle="modal" data-target="#movieShowedittingModal" (click)="openEditmovieShow(ms.id)">
                        <i class="fa fa-2x text-success fa-info-circle p-2"></i>
                      </a>
                      <a href="#" data-toggle="modal" data-target="#movieShowDeleteModal" (click)="openEditmovieShow(ms.id)">
                        <i class="fa fa-2x text-danger fa-trash p-2"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <footer class="footer">
          <div class="container-fluid clearfix text">
            <span class="float-right">
              <a href="#">Quan-Phong Group</a> &copy; 2017 </span>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- Modal Adding -->

  <div class="modal fade bd-example-modal-lg" id="movieShowaddingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">ADD A MOVIE SHOW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="addMovID" class="col-2 col-form-label">Movie Name (*):</label>
            <div class="col-10">
              <select class="form-control " id="addMovID">

                <option *ngFor="let movie of movies" [value]="movie.id">{{movie.name}}</option>
              </select>
            </div>

          </div>

          <div class="form-group row">
            <label for="addDateShow" class="col-2 col-form-label">Date Show:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" id="addDateShow" [(ngModel)]="dateShow">
            </div>
          </div>

          <div class="form-group row">
            <label for="addBeginTime" class="col-2 col-form-label">Begin Time:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" id="addBeginTime" [(ngModel)]="beginTime">
            </div>
          </div>

          <div class="form-group row">
            <label for="addEndTime" class="col-2 col-form-label">End Time:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" id="addEndTime" [(ngModel)]="endTime">
            </div>
          </div>

          <div class="form-group row">
            <label for="addShowRoom" class="col-2 col-form-label">Show Room:</label>
            <div class="col-10">
              <select class="form-control " id="addShowRoom">
                <option value="1">Room 1</option>
                <option value="2">Room 2</option>
                <option value="3">Room 3</option>
                <option value="4">Room 4</option>
                <option value="5">Room 5</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="addShowType" class="col-2 col-form-label">Show Type:</label>
            <div class="col-10">
              <select class="form-control " id="addShowType">
                <option value="2D">2D</option>
                <option value="3D">3D</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="addCost" class="col-2 col-form-label">Cost:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" id="addCost" [(ngModel)]="Cost">
            </div>
          </div>


        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" (click)="addMovieShow()">ADD</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Adding -->

  <div class="modal fade bd-example-modal-lg" id="movieShowedittingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">EDIT A MOVIE SHOW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label for="editID" class="col-2 col-form-label">Movie Show ID:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" id="editID">
            </div>
          </div>

          <div class="form-group row">
            <label for="editMovID" class="col-2 col-form-label">Movie Name (*):</label>
            <div class="col-10">
              <select class="form-control " id="editMovID" name="msedit">

                <option *ngFor="let movie of movies" [value]="movie.id">{{movie.name}}</option>
              </select>
            </div>

          </div>

          <div class="form-group row">
            <label for="editDateShow" class="col-2 col-form-label">Date Show:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" name="msedit" id="editDateShow" [(ngModel)]="dateShow">
            </div>
          </div>

          <div class="form-group row">
            <label for="editBeginTime" class="col-2 col-form-label">Begin Time:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" name="msedit" id="editBeginTime" [(ngModel)]="beginTime">
            </div>
          </div>

          <div class="form-group row">
            <label for="editEndTime" class="col-2 col-form-label">End Time:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" name="msedit" id="editEndTime" [(ngModel)]="endTime">
            </div>
          </div>

          <div class="form-group row">
            <label for="editShowRoom" class="col-2 col-form-label">Show Room:</label>
            <div class="col-10">
              <select class="form-control " id="editShowRoom" name="msedit">
                <option value="1">Room 1</option>
                <option value="2">Room 2</option>
                <option value="3">Room 3</option>
                <option value="4">Room 4</option>
                <option value="5">Room 5</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="editShowType" class="col-2 col-form-label">Show Type:</label>
            <div class="col-10">
              <select class="form-control " id="editShowType" name="msedit">
                <option value="2D">2D</option>
                <option value="3D">3D</option>
              </select>
            </div>
          </div>



          <div class="form-group row">
            <label for="editCost" class="col-2 col-form-label">Cost:</label>
            <div class="col-10">
              <input class="form-control" type="text" value="" name="msedit" id="editCost" [(ngModel)]="Cost">
            </div>
          </div>

          <div class="form-group row">
            <label for="editStatus" class="col-2 col-form-label">Status:</label>
            <div class="col-10">
              <select class="form-control " id="editStatus" name="msedit">
                <option value="0">Active</option>
                <option value="-1">Deactive</option>
              </select>
            </div>
          </div>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-primary" (click)="editMovieShow()" id="editEditBTN">EDIT</button>
          <button type="button" class="btn btn-success" (click)="showMap();" id="mapBTN" data-toggle="modal" data-target="#roomMap">MAP</button>

          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

  <!-- ROOM -->

  <div class="modal fade bd-example-modal-lg" id="roomMap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">EDIT A MOVIE SHOW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div id="seat-map" style="margin-left: 100px">
          </div>

        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Detail Modal -->


  <div class="modal fade " id="movieShowDetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">DETAIL MOVIE SHOW</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group row">
            <label  class="col-4 col-form-label">Movie Show ID:</label>
            <div class="col-8">{{id}}
              
            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Movie Name (*):</label>
            <div class="col-8">{{movieName}}
            
            </div>

          </div>

          <div class="form-group row">
            <label  class="col-4 col-form-label">Date Show:</label>
            <div class="col-8">{{dateShow}}

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Begin Time:</label>
            <div class="col-8">{{beginTime}}

            </div>
          </div>

          <div class="form-group row">
            <label  class="col-4 col-form-label">End Time:</label>
            <div class="col-8">{{endTime}}

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Show Room:</label>
            <div class="col-8">{{showRoom}}
              
            </div>
          </div>

          <div class="form-group row">
            <label  class="col-4 col-form-label">Show Type:</label>
            <div class="col-8">{{showType}}
            
            </div>
          </div>



          <div class="form-group row">
            <label class="col-4 col-form-label">Cost:</label>
            <div class="col-8">{{Cost}} VND

            </div>
          </div>

          <div class="form-group row">
            <label class="col-4 col-form-label">Status:</label>
            <div class="col-8">{{status}}

            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal" id="movieShowDeleteModal" tabindex="0" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">MOVIE SHOW DELETE</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div>Do you want to delete movie show: Movie name: <strong>{{name}}</strong> </div>
          <div>Date show: <strong>{{dateShow}}</strong> Room: <strong>{{showRoom}}</strong></div>
          <div>Begin at: <strong>{{beginTime}}</strong> End: <strong>{{endTime}}</strong></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="deleteMovieShow();" id="deleteBTN">DELETE</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">CANCEL</button>
        </div>
      </div>
    </div>
  </div>

</body>